* {
  font-family: 'Poppins', sans-serif;
  font-size: small;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 20px;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
}
.button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;

  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 10px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}

.button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#value,
#finalValue {
  width: 300px;
}
#draw {
  margin-bottom: 100px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

.shortestPathLinks {
  color: red;
}

.text {
  margin-top: 10px;
  text-align: center;
  color: black;
}

input {
  padding: 10px;
  min-width: 200px;
  min-height: 40px;
}

.steps-container {
  color: green;
  height: 100%;
  min-width: 350px;
}

.container-points {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.color-one {
  background-color: #eef5ec;
}

.color-two {
  background-color: #f2eaf2;
}

.hr {
  border: 0px;
  width: 150px;
  height: 8px;
  border-radius: 5px;
}

.hr-red {
  background-color: red;
}

.hr-green {
  background-color: green;
}
.animated {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #b5b5b5;
  text-align: center;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #eef5ec;
}
.finalWeight {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.25px;
}

.info {
  position: absolute;
  right: 12vw;
}

.tooltiptext {
  margin: 10px;
  visibility: hidden;
  width: 120px;
  background-color: #f2eaf2;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  border: 1px solid rgb(154, 153, 153);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.info:hover .tooltiptext {
  visibility: visible;
}

@media all and (max-width: 1000px) {
  body {
    margin: 5vh 0vw;
  }
  * {
    font-size: x-large;
  }
  .container {
    flex-wrap: wrap;
  }
  .info {
    right: 17vw;
  }
  #finalValue {
    width: 550px;
  }
  .tooltiptext {
    margin: 35px -10px;
  }
}
